#root {
  padding: 2rem;
}

.electionPanel{
  display: inline-flex;
  flex-wrap: wrap;
}

.election {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: .5em 1em 0.5em 1em;
  padding: 1em;
  width: 350px;
  height: 140px;
  position: relative;
}

.status {
  float: left;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 22px;
  left: 35px;
}

.dot {
  position: absolute;
  top: 1px;
  left: -22px;
  font-size: 1.5em;
}

@keyframes flicker {
  0%   {opacity: 0%;}
  50%   {opacity: 100%;}
  100%   {opacity: 0%;}
}

.active{
  color: rgb(31, 221, 31);
}

.active .dot {
  animation: flicker 5s infinite;
}

.passive {
  color: rgb(207, 115, 10);
}

.election .voteButton {
  float: right;
  border: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: .5em 2em .5em 2em;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.activeButton:hover {
  color: rgb(221, 221, 221);
  transition: .2s all;
}

.activeButton {
  background-color: #3b82f6;
  color: white;
  transition: .2s all;
}

.passiveButton {
  background-color: rgb(207, 207, 207);
  color: black;
  pointer-events:none;  
}

.election h3{
  margin: 0;
}

.page {
  width: 100%;
  min-width: fit-content;
}

.activeElection, .createField {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 95%;
  padding: 1em 2em 1em 2em;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 10px;
  position: relative;
}

hr {
  color: rgba(0, 0, 0, 0.4);
  width: 50%;
  margin: 0;
}

.notFound{
  margin: 0 auto;
  text-align: center;
}

.notFound h1 {
  font-size: 7em;
  margin: 1em 0 0em 0;
}

.notFound h2{
  color: rgb(95, 95, 95);
}

.logout {
  background-color:  #ef4444;
  border-radius: 5px;
  color: rgb(243, 243, 243);
}

.createField input {
  margin: 0 0 0 1em;
}

.createField input[type="text"] {
  background-color: white;
  font-size: 1em;
  color: black;
  border-radius: 5px;
  width: 400px;
  height: 30px;
}

.createField textarea {
  background-color: white;
  font-size: 1.2em;
  color: black;
  border-radius: 5px;
  width: 355px;
  height: 100px;
}

.createField #desc {
  vertical-align: top;
  margin: 0 0 0 1em;
  height: 50px;
}

.options {
  margin-left: 2em;
}

.options h4 {
  margin-bottom: .2em;
}

.optionBlock{
  margin-left: 1em;
}

label {
  margin-left: .5em;
}

.createField input[type="submit"] {
  background-color: #3b82f6;
  color: white;
  padding: 1em;
  font-size: 1.2em;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 1em;
  transition: .2s all;
}

.createField input[type="submit"]:hover {
  color:rgb(219, 219, 219);
  transition: .2s all;
}

.addNewPoll {
  background-color: #3b83f6cc;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  width: 9px;
  height: 40px;
  display: block;
  text-align: center;
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transform: scale(.9);
}

.plusButton {
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 4em;
}

.pDesc {
  white-space: collapse;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  max-height: 48px;
  font-style: italic;
}

.pieChart{
  transition: .1s all;
  transform: scale(1);
  margin-left: 3em;
}

.resultsDivider {
  width: 100%;
}

.pieLabelElem {
  display: 'flex';
  align-items: 'center';
  margin-right: 10;
}

.pieLabels{
  position: absolute;
  top: 16em;
  left: 35em;
}

.pieMiniBox {
  display: inline-flex;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}