:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  scroll-behavior: smooth;
  overflow: visible;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 2.5em;
} 

a:not(.titleLink) {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  padding: 1em 2em 1em 2em;
  transition: .2s all;
}
a:hover:not(.titleLink) {
  color: #e0e0e0;
  transition: .2s all;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: .2s all;
}
button:hover {
  border-color: #646cff;
  transition: .2s all;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.layoutLinks:not(.titleLink) {
  background-color: #535bf2cf;
  backdrop-filter: blur(10px);
  color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: inline-flex;
  width: 99%;
  padding: .5em;
}

.layoutLinks h1{
  margin: .5em;
  font-size: 1.5em;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.layoutLinks ul{
  margin-top: 1.3em;
  padding: 0em;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.layoutLinks ul li{
  display: inline;
  margin: .5em;
}